block footer
	footer.footer
		.container
			.footer-content__main
				.footer-site
					a(href="#").footer-site__link
						img.footer-site__logo(src="assets/img/medisa/footer-logo.png", alt="logo")
					.footer-site__info
						p.footer-site__name Мидиса-Юг
						| на обувном рынке
						br
						| с 2003 года
				.footer-menu
					.footer-menu__col
						p.footer-menu__header Адрес
						ul.footer-menu__list
							li.footer-menu__item
								p г. Краснодар,
							li.footer-menu__item
								p ул.Стасова, 182/1
							li.footer-menu__item
								p пн-пт  9:00 до 18:00
					.footer-menu__col
							p.footer-menu__header Контакты
							ul.footer-menu__list
								li.footer-menu__item
									a(href="tel:+79186330929") +7 (918) 633-09-29
								li.footer-menu__item
									p midisa-yug@yandex.ru
								li.footer-menu__item
									a(href="#") Карта
					.footer-menu__col
							p.footer-menu__header Компания
							ul.footer-menu__list
								li.footer-menu__item
									a(href="#") О компании
								li.footer-menu__item
									a(href="#") Наша розница
								li.footer-menu__item
									a(href="#") Информация для покупателей
			.footer-content__bottom
				p Copyright © 2017
				p Соглашение об обработке перснональных данных
				p Сделано в ЛИДМАРКЕТ