block header
	header.header
		.container
			a(href="/").logo__link
				img(src="./assets/img/medisa/logo.png", alt="logotype").logo
			.header-info__area
				.header-info__head-line
					h1.title Обувь оптом
					form(action="" method="POST").header-search
						input(type="text" placeholder="Поиск на сайте").header-search__input
						button(type="submit").header-search__submit
				.header-menu
					ul.header-menu__info
						li.header-menu__item
							a(href="#").header-menu__item-link
								+svgMix("header-menu__icon", "map-pointer", "m")
							p г. Краснодар, ул.Стасова, 182/1
						li.header-menu__item
							a(href="#").header-menu__item-link
								+svgMix("header-menu__icon", "phone", "m")
							p 8 (918) 633-09-29
								span  пн-пт 9:00 до 18:00
					ul.header-menu__link
						li.header-menu__item
							a(href="#").header-menu__item-link
								+svgMix("header-menu__icon", "login", "m")
							a(href="#") Войти
						li.header-menu__item
							a(href="#").header-menu__item-link
								+svgMix("header-menu__icon", "shopping-bag", "m")
							span.cart-counter 50
							a(href="#") 50 товаров 150 000 ₽