$main: #601818
$red: #7f0000

@import './style.sass'
@import './medisa/**/*.sass'
@import './m&p/**/*.sass'

body.is-home
   & section
      & h1.title.-lg
         margin: 90px 0 50px
         text-align: center
   
svg
   fill: $main