@import './common/_const.sass'

.title

h1
	width: 100%
	font-size: 2.222rem
	margin-bottom: 0.750em
	@include w1023
		font-size: 1.889rem
	@media all and (max-width: 640px)
		font-size: 1.667rem
h2
	font-size: 1.556rem
h3
	font-size: 1.333rem

b, strong
	+Helvetica(bold)

html
	font: 18px 'Helvetica'
	min-width: 320px
	width: 100%
	height: auto
	@media all and (max-width: 640px)
		font-size: 17px


body
	overflow-x: hidden
	position: relative
	min-width: 320px
	width: 100%
	min-height: 100vh
	height: auto
	display: flex
	flex-direction: column
	line-height: 1
	margin: 0 auto
	&.is-home
		& section
			& h1.title
				margin: 5rem 0 2.778rem
				text-align: center
				+Helvetica(bold)

.container
	max-width: 1200px
	padding-left: 20px !important
	padding-right: 20px !important
	width: 100%
	margin: 0 auto
	@include w1024
		padding-left: 10px !important
		padding-right: 10px !important

.btn
	font-size: 19px
	border: 1px solid $product-grey
	border-radius: 3px
	+Helvetica(light)
	&:hover
		background-color: $yellow
		border: none
		color: $white
button
	+Helvetica(light)

main
	flex: 1
	padding-bottom: 5.556rem
	@media all and (max-width: 639px)
		padding-bottom: 2.778rem

.description
	@media all and (max-width: 639px)
		font-size: 15px