@import './common/_const.sass'

.title

h1
	width: 100%
	font-size: 2.222rem
	margin-bottom: 1.667rem
h2
	font-size: 1.556rem
h3
	font-size: 1.333rem

b, strong
	+Helvetica(bold)

html
	font: 18px 'Helvetica'
	min-width: 320px
	width: 100%
	height: auto


body
	position: relative
	min-width: 320px
	width: 100%
	min-height: 100vh
	height: auto
	display: flex
	flex-direction: column
	line-height: 1
	margin: 0 auto
	&.is-home
		& section
			& h1.title
				margin: 5rem 0 2.778rem
				text-align: center
				+Helvetica(bold)

.container
	max-width: 1280px
	padding-left: 60px !important
	padding-right: 60px !important
	width: 100%
	margin: 0 auto

.btn
	border: 1px solid $product-grey
	border-radius: 3px
	&:hover
		background-color: $yellow
		border: none
		color: $white

main
	flex: 1
	padding-bottom: 5.556rem