.listing__controls
   .control-sort
      p.control-sort__name Сортировать по:
      .control-sort__select
         p.control-sort__option убыванию цены
         a(href="#").control-sort__option возрастанию цены
         a(href="#").control-sort__option новинкам
   .control-sort.-quantity
      p.control-sort__name Показывать по:
      .control-sort__select
         p.control-sort__option 50
         a(href="#").control-sort__option 100