.pagination__controls
   ul.pagination
      li.-prev
         a(href="#")
      li.-first
         a(href="#") 1
      li
         span ...
      li
         a(href="#") 5
      li
         a(href="#") 6
      li.-active
         span 7
      li
         a(href="#") 8
      li
         a(href="#") 9
      li
         span ...
      li.-last
         a(href="#") 30
      li.-next
         a(href="#")


   button.go-top