.search
   p.search__title Поиск 
   form.search-form
      input.search-form__input(type="text" value="Ботинки")
      .search-form__select
         .search-form__option Все категории
         .search-form__option Мужская обувь
         .search-form__option Женская обувь
         .search-form__option Детская обувь
         .search-form__option Спортивная обувь
         .search-form__option Спец обувь
         .search-form__option Домашняя обувь
      button.search-form__submit Найти