.news.container
	.news__list
		.news__item
			strong.news__item-title Вниманию оптовиков!
			i С 20 по 22 марта в нашем офисе состоится очередная презентация обувной коллекции 
				ins «Осень-Зима 2018 - 2019»
				|.
			i Будут представлены ТМ Cavaletto, Марко, Inblu, Keddo, Отико, Rieker, Алми, Эго, ID Collection, Laura Valorosa, Rosconi и др.
		.news__item
			strong.news__item-title Поступление весенне-летней коллекции.
			i Уже на складе новые модели ТМ Cavaletto, Rieker, Keddo, Марко и др.!
			b Обновление ассортимента 2-3 раза в неделю!
	.news-slider
		.news-slider__wrapper
			.news-slider__image-box
				img.news-slider__image(src="/assets/img/medisa/news-slider/1.png", alt="slide name")
			.news-slider__image-box
				img.news-slider__image(src="/assets/img/medisa/news-slider/1.png", alt="slide name")
			.news-slider__image-box
				img.news-slider__image(src="/assets/img/medisa/news-slider/1.png", alt="slide name")
			.news-slider__image-box
				img.news-slider__image(src="/assets/img/medisa/news-slider/1.png", alt="slide name")
			.news-slider__image-box
				img.news-slider__image(src="/assets/img/medisa/news-slider/1.png", alt="slide name")
		ul.news-slider__nav
			li.news-slider__nav-item
			li.news-slider__nav-item
			li.news-slider__nav-item.-active
			li.news-slider__nav-item
			li.news-slider__nav-item