.ticker.container
   .ticker__wrapper
      a(href="#").ticker__brand
         img.ticker__brand-img(src="/assets/img/medisa/ticker-brands/Inblu.png", alt="")
      a(href="#").ticker__brand
         img.ticker__brand-img(src="/assets/img/medisa/ticker-brands/Covaletto.png", alt="")
      a(href="#").ticker__brand
         img.ticker__brand-img(src="/assets/img/medisa/ticker-brands/Marko.png", alt="")
      a(href="#").ticker__brand
         img.ticker__brand-img(src="/assets/img/medisa/ticker-brands/Otiko.png", alt="")
      a(href="#").ticker__brand
         img.ticker__brand-img(src="/assets/img/medisa/ticker-brands/Ego.png", alt="")
      a(href="#").ticker__brand
         img.ticker__brand-img(src="/assets/img/medisa/ticker-brands/Almi.png", alt="")
      a(href="#").ticker__brand
         img.ticker__brand-img(src="/assets/img/medisa/ticker-brands/Roskoni.png", alt="")
      a(href="#").ticker__brand
         img.ticker__brand-img(src="/assets/img/medisa/ticker-brands/Sigma-sport.png", alt="")