$white: #fff
$black: #000

$grey: #979797

$product-black: #353b40
$product-grey: #616161
$product-grey-btn: #242424
$breadcrumbs-grey: #787878
$grey-filter: #888888
$grey-viewed-product: #6c6c6c

$yellow: #ffc200