.contacts
   & strong
      font-size: 2.222rem
      +Helvetica(bold)
      margin-bottom: 2.222rem
      text-align: center
   &-map
      width: 100%
      height: 37vw
      &__box
         margin-bottom: 3.889rem
.our-shop
   &__list
      display: flex
      flex-wrap: wrap
      margin: 0 -1.111rem -2.778rem
   &__item
      max-width: 360px
      overflow: hidden
      margin: 0 1.111rem 2.778rem
      display: flex
      flex-wrap: wrap
      align-content: space-between
      &-img
         min-height: 270px
         max-height: 270px
         min-width: 100%
         width: auto
         margin: 0 auto 2.222rem
      &-name
         line-height: 1.25
         font-size: 1.333rem
      &-address
         display: block
         min-height: 5rem
         line-height: 1.67
         +Helvetica()
      &-worktime
         line-height: 1.67
         +Helvetica()
      &-phone
         margin-top: 1.111rem
         font-size: 1.333rem
         & > span
            +Helvetica()
            font-size: 1rem