.news
	&__item
		position: relative
		padding: 1.111rem 1.111rem 1.944rem 1.111rem
		& > strong
		& > i
		&-link
			text-decoration: underline
			position: absolute
			bottom: 10px
			right: 10px
			+Helvetica()
	&-slider
		&__nav
			&-item
				&:after
					background-color: $main