.footer
	color: $white
	padding: 30px 0 40px
	background-color: $main
	&-site
		max-width: 25%
		width: 100%
		padding-left: 20px
		display: flex
		align-items: center
		&__name
			font-size: 1rem
			color: rgba(255, 255, 255, 1)
		&__info
			font-size: 0.7778rem
			color: rgba(255, 255, 255, 0.8)
			line-height: 1.2
		&__link
			margin-right: 10px
			max-width: 70px
			width: 100%
			max-height: 70px
	&-menu
		max-width: 75%
		width: 100%
		display: flex
		&__col
			padding-left: 20px
			flex-basis: 33%
			max-width: 33%
		&__header
			font-size: 1.333rem
			margin-bottom: 1.250em
			opacity: 0.8
		&__list
		&__item
			& > p, a
				line-height: 1.67
			& > a
				text-decoration: underline
	&-content
		&__main
			margin-bottom: 32px
			display: flex
			flex-wrap: wrap
			align-items: flex-start
		&__bottom
			display: flex
			justify-content: space-between
			margin: 0 auto
			max-width: 985px
			margin-left: 100px
			& p
				opacity: 0.8
				text-align: center
				line-height: 1.88