.product
	padding: 20px 25px 30px
	position: relative
	&__mark
		position: absolute
		top: 0
		left: 0
		padding: 10px 10px 0
		&-item
			font-size: 0.7778rem
			height: 2.143em
			line-height: 2.143em
			padding: 0 1.199em
			display: inline-block
	&__img
		max-width: 168px
		max-height: 168px
		margin-bottom: 1.667rem
	&__name
		margin-bottom: 0.5rem
	&__model
		margin-bottom: 1.667rem
	&__price
		margin-bottom: 0.5556rem
		&:last-child
			margin-bottom: 0
		&-box
			margin-bottom: 1.667rem