.product
	padding: 20px 25px 30px
	position: relative
	display: flex
	flex-wrap: wrap
	align-content: space-between
	overflow: hidden
	&__mark
		position: absolute
		top: 0
		left: 0
		padding: 10px 10px 0
		&-item
			font-size: 0.7778rem
			height: 2.143em
			line-height: 2.143em
			padding: 0 1.199em
			display: inline-block
	&__img
		max-width: 200px
		max-height: 168px
		margin: auto 0
		&-box
			height: 168px
			margin-bottom: 1.667rem
			display: flex
	&__review
		width: 100%
	&__name
		margin-bottom: 0.5rem
	&__model
		margin-bottom: 1.667rem
	&__price
		margin-bottom: 0.5556rem
		&:last-child
			margin-bottom: 0
		&-box
			margin-bottom: 1.667rem
	&-basket
		padding: 20px 47px 20px 20px
		border-top: 1px solid $grey
		border-bottom: 1px solid $grey
		margin-bottom: -1px
		display: flex
		justify-content: space-between
		align-items: center
		&__img
			max-width: 100%
			width: auto
			max-height: 100%
			height: auto
			&-box
				width: 150px
				height: 150px
		&__name
			font-size: 1.111rem
			color: $basket-grey
			margin-top: -1.389rem
			max-width: 11.500em
		&__counter
			display: flex
			align-items: center
			margin-bottom: 12px
			justify-content: center
			&-box
				position: relative
				text-align: center
				min-width: 165px
				max-width: 165px
				&.-half
					top: -16px
					& > .product-basket__counter
						margin-top: 16px
			&.-error
				& > .product-basket__count
					color: $error
		&__count
			margin: 0 20px
			font-size: 1.111rem
			&-btn
				font-size: 1.333rem
				width: 1.667em
				height: 1.667em
				border-radius: 50%
				&:last-child
					border: 1px solid $grey
		&__part
			font-size: 0.7778rem
			color: $basket-grey
		&__reserve
			font-size: 0.7778rem
			color: $basket-grey
		&__absence
			margin-top: 8px
			color: $error
			position: absolute
		&__price
			margin-top: -1.556rem
			min-width: 267px
			max-width: 267px
			& > span
				font-size: 1.333rem
		&__delete
			margin-top: -1.556rem
			color: $basket-grey