extends ../_template

block variables
   - var m = true;

block content
   +breadCrumbs(["Главная", "О компании"])
   main.container
      .description
         h1.title Каталог
         p О компании
         p Компания «Мидиса-Юг» работает c 2003 г. на обувном рынке России и является партнером более двадцати ведущих обувных фабрик России, Белоруссии, Украины, Китая, Германии.
         p Фирма занимается оптовой продажей комфортной повседневной и модельной обуви  - женской, мужской, детской.
         br
         p Кроме того, всегда в наличии на складе обувь, которую мы можем рекомендовать для персонала медицинских учреждений, гостиничных комплексов, пищевых производств (сабо, туфли с малосложной ортопедической колодкой). 
         br
         p Основная часть модельного ряда, представленного на нашей витрине,
            br
            | это обувь для повседневной носки – комфортная, на невысоком каблуке или танкетке, обувь для проблемных ног.
         br
         p Для молодежи есть большой выбор недорогой обуви из экокожи, текстильных материалов (кеды, кроссовки, слипоны, балетки).
         br
         p Дважды в год Вы можете ознакомиться с нашим ассортиментом на презентации новых коллекций в нашем офисе в Краснодаре. 
         br
         p На выставках всегда представлено более 4000 моделей, есть возможность сделать индивидуальный заказ на будущий сезон. 
         p Размер предоплаты составляет всего 10%.
         br
         p Продавая комфортную и качественную обувь, мы стараемся создать исключительно комфортные условия работы для наших клиентов.
         br
         p Благодаря длительному успешному сотрудничеству с производителями обуви, наша компания с каждым годом получает все более выгодные условия работы, что положительно сказывается на отпускной цене для наших клиентов. 
         br
         p В настоящее время являемся крупнейшим на юге России дистрибьютором торговых марок 
            br
            | Inblu, Алми, Эго, Отико, Марко, Cavaletto, Keddo, Rosconi и др.
         br
         p Качество нашего товара подтверждено  сертификатами соответствия и эпидемиологическими заключениями.
         br
         p Работая с нами, Вы всегда можете рассчитывать на внимание и открытость нашего персонала, 
            br
            | своевременную информацию по обновлению ассортимента и наличию на складе.
         br
         p В структуру компании «Мидиса-Юг» входит собственная розничная и франчайзинговая розничная сети.
         br
         p Приглашаем Вас к взаимовыгодному сотрудничеству!
         br

   section.popular-models
      h1.title(style="text-align: center") Популярные модели
      include ./../common/_popular-models.pug