extends ../_template

block variables
   - var m = true;

block content
   +breadCrumbs(["Главная", "Информация для покупателей"])
   main.container
      .description
         h1.title Информация для покупателей         
         strong уход за обувью
         br
         br
         b Правило №1 
         p по уходу за обувью гласит, что сразу после покупки сапоги или ботинки следует пропитать специальными составами, которые защитят их от грязи и влаги (этого не нужно делать только с обувью из лаковой кожи).
         b Правило №2. 
         p На кожаную подошву – непременно поставить профилактику (резиновую подметку), это предотвратит ее быстрый износ.
         b Правило №3. 
         p Менять обувь нужно каждый день, чтобы кожа хорошо высохла. 
         p Даже при сухой погоде кожа на ногах выделяет значительное количество жидкости, и поэтому обуви необходимо не меньше суток на просушку. Кроме того, по мнению специалистов, 2/3 времени своей жизни обувь должна отдыхать.
         b Правило №4. 
         p Промокшую обувь необходимо высушить на специальных распорках, при комнатной температуре. 
         p Исключено пользование сушилками, батареями, фенами или пылесосами.
         b Правило №5. 
         p После того как обувь высохнет, ее следует немедленно обработать средствами по уходу за кожей.
         b Правило №6. 
         p Надевать обувь надо с помощью рожка, а вот снимая, не стоит придавливать пятку или каблук ногой – на обуви могут остаться следы, а каблук от грубого отношения оторвется.
         b Правило №7. 
         p Хранить обувь лучше всего на колодках, тогда она не теряет свою форму.
         b Правило №8. 
         p Используйте для ухода только те средства, которые подходят для материала, из которого обувь сшита.
         br
         br
         strong ПРАВИЛЬНОЕ  ХРАНЕНИЕ
         br
         br
         p.
            Правильное хранение обуви - залог ее долгой и счастливой жизни. Перед тем, как убрать обувь в кладовку, ее надо тщательно вымыть, 
            высушить, почистить, нанести защитные средства и продезинфицировать. Для дезинфекции обувь внутри протирают тряпочкой, 
            смоченной формалином, и на сутки прячут в плотно завязанный полиэтиленовый пакет. Затем обувь вынимают и проветривают. 
            Для длительного хранения обувь лучше поместить туда, куда не проникают солнечные лучи и влага, не забыв при этом, 
            положить поблизости средство от моли. Сапоги с длинными голенищами лучше всего хранить подвешенными на прищепках. 
            Выходную и особенно лакированную обувь заворачивают в бумагу, или натягивают на нее в чулок. 
            И обязательно с расправочными пружинными колодками. Обувь из натуральной кожи, замши и нубука лучше всего хранить 
            в специальных хлопковых мешках или деревянных ящиках, но вполне подойдут и картонные коробки из-под обуви, 
            которые не стоит выбрасывать сразу после покупки.
         br
         br
         strong ПОЛЕЗНЫЕ СОВЕТЫ
         br
         br
         p.
            *Сапоги перестанут скрипеть, если растереть на подошве несколько капель растительного масла.
            *Неприятный запах от обуви можно устранить, протерев внутреннюю поверхность ваткой, смоченной в перекиси водорода, 
            или воспользовавшись дезодорантом для обуви.
            *Если ни крема, ни влагозащитного средства не оказалось под рукой, Вас выручит обычное касторовое масло. С вечера, 
            промыв и просушив обувь, смажьте её несколько раз этим средством. Утром можно повторить процедуру. 
            Обувь блестит, выглядит ухоженно, а главное — защищена от влаги.
            *Просушить сильно намокшую обувь, а заодно и избежать её деформации во время сушки поможет обычная газета. 
            Плотно набиваем ботинки хорошо размятой в руках газетной бумагой. Время от времени, по мере увлажнения, газету следует менять.
            *Чистка зубной пастой вернет белизну подошве кроссовок.
            *Чтобы туфли стали комфортными и идеально сели на вашу ногу, понадобятся плотные носки и фен. Наденьте носки, туфли, 
            а потом на режиме горячей сушки как следует прогрейте обувь.
            *Предупредите волдыри. Каждый из нас хоть раз в жизни натирал ноги в новых туфлях, но, оказывается, этого можно легко избежать, 
            если натереть проблемные места обычным дезодорантом.
            Но самое главное – остановить свой выбор на правильном магазине.
            Розничная сеть «Пятка» желает Вам удачных покупок!
