extends ../_template

block variables
   - var m = true;

block content
   +breadCrumbs(["Главная", "Для департаментов и организаций"])
   main.department.container
      .description
         h1.title Для департаментов и организаций
         p Работа с Департаментами соцзащиты, образования и науки, а также с другими хозрасчетными и бюджетными организациями является для нас одним из приоритетных направлений. Многолетний опыт работы  в этой сфере, участие в аукционах и котировках позволяет нам качественно и в срок исполнять самые сложные заявки от покупателей – подбор обуви по размерам, в т.ч. нестандартным, грамотная подготовка полного пакета документов, индивидуальная работа с каждым заказчиком. 
         br
         br
         ul
            li Усть-Лабинский ДИПИ,
            li Камышеватский ДИПИ,
            li Шкуринский ДИПИ,
            li Белореченский КЦСОН,
            li Тихорецкий КЦСОН,
            li Красноармейский КЦСОН,
            li Краснодарский КЦСОН,
            li УВО Минтранса России ФГУП (Краснодарский филиал) и др.
         br
         br
         p Обувь, которую предпочитают покупать организации своим сотрудникам или подопечным, как правило, белорусского или российского производства, изготовлена из натуральной кожи, имеет удобную колодку, регулируется резинками или шнурком по полноте и подъему, подтверждает свое высокое качество сертификатами.
         br
         br
         b Мы – незаменимые помощники снабженцев.

   section.popular-models
      h1.title Популярные модели
      include ./../common/_popular-models.pug