extends ../_template

block variables
	- var bodyClass = 'is-home';
	- var m = true;

block content
	include ./../common/_slider.pug
	include ./../common/_ticker.pug
	section.faq
		.container
			h1.title Наши плюсы – Ваши выгоды
			-
				var faq = [
					{svgName: '', text: 'Широкий ассортимент моделей и торговых марок на свободном складе.'},
					{svgName: '', text: 'Минимальная партия заказа – полкороба (короба от 10 пар и больше делим пополам).'},
					{svgName: '', text: 'Возможность сделать предварительный заказ на будущий сезон на выставках, которые мы проводим прямо в нашем офисе. Предоплата – всего 10%.'},
					{svgName: '', text: 'Вы экономите свое время и деньги, ведь мы – рядом с Вами! Недорогая, удобная логистика.'},
					{svgName: '', text: 'Бесплатная доставка до терминала Вашей транспортной компании, по Краснодару - 500 ₽ .'},
					{svgName: '', text: 'Отсрочка платежа и другие выгодные предложения при постоянном сотрудничествеи стабильном объеме продаж.'},
					{svgName: '', text: 'Любая удобная для Вас форма оплаты.'},
					{svgName: '', text: 'Мы являемся дистрибьюторами белорусских фабрик - производителей.'},
					{svgName: '', text: 'Успешный опыт работы с Департаментами соцзащиты, образования и науки и другими бюджетными и хозрасчетными организациями.'}
				]

			.faq__list
				each item in faq
					.faq__item
						+svgMix('faq__item-icon', item.svgName)
						p= item.text

	section.popular-models
		h1.title Популярные модели
		include ./../common/_popular-models.pug