extends ../_template

block variables
	- var p = true;

block content
	+breadCrumbs(["Главная", "О компании"])
	main.container
		.description
			h1.title О компании
			p В структуру компании «Мидиса-Юг» входит собственная и франчайзинговая розничные сети «ПЯТКА».
			br
			p Собственная сеть в Краснодаре существует с 2004 года. Сегодня действуют четыре магазина.
				br
				| Франчайзинговая сеть работает в Анапе и Новороссийске.
				br
				| И мы никогда не стоим на месте, расширяем нашу сеть и ее ассортимент, охватываем всё новые районы города. 
				br
				|Вот и сейчас готовится к реализации проект нового магазина, и, как обычно, ведется кропотливая работа по формированию модельных рядов на будущий сезон.
			br
			p Многие из тех, кто однажды пришел в магазин «Пятка», стали его постоянными покупателями и даже привели с собой знакомых и родных. Действительно, от нас трудно уйти без покупки. Мы всегда поддерживаем широкий модельный ряд. В магазинах представлены следующие товары:
			br
			p ОБУВЬ мужская, женская, детская (в том числе  повседневная, обувь «для выхода в свет», спортивная, домашняя, а также пляжная, резиновая и др.),
			br
			p СУМКИ и РЮКЗАКИ (качественные и недорогие),
			br
			p АКСЕССУАРЫ – Средства по уходу за обувью, стельки, корректоры, шнурки и др.
			br
			p Весь ассортимент имеет сертификаты и декларации, подтверждающие качество и соответствие стандартам и техническим регламентам, принятым в РФ.
			br
			p Мы регулярно посещаем основные обувные выставки, следим за модными тенденциями и новыми технологиями, благодаря которым обувь становится максимально удобной, износостойкой, гарантированно комфортной при ходьбе, обеспечивает гибкость и свободу движения.
				br
				| Наши продавцы имеют большой опыт работы. Они с удовольствием помогут Вам подобрать нужную модель с учетом индивидуальных особенностей стопы, дадут рекомендации по уходу за обувью, чтобы защитить ее от непогоды, продлить срок службы и сохранить внешний вид.
				br
				| Мы всегда предлагаем нашим покупателям товар высокого качества по низкой цене. Умеренные наценки, долгосрочные контракты и максимальные скидки от производителей позволяют нам сформировать лучшее ценовое предложение.
				br
				| В магазинах «Пятка» постоянно  действуют сезонные и краткосрочные акции.
			br
			p Кроме этого, ВСЕГДА:
			ul
				li Скидка пенсионерам. 
				li Ищем ОРАНЖЕВЫЙ ценник – товар со сниженной ценой. 
				li Ищем ЗЕЛЕНЫЙ ценник – товар с минимальной ценой (в большинстве случаев ниже закупочной).
			p Все магазины имеют удобное месторасположение, в шаговой доступности от общественного транспорта. Работаем без выходных, каждый день с 9.00 до 20.00.
			br
			br
			.wait-you
				p Ждем Вас в магазинах «ПЯТКА»!
				p У нас Вы приобретаете действительно качественную обувь по действительно низкой цене!

	section.popular-models
		h1.title Популярные модели
		include ./../common/_popular-models.pug