extends ../_template

block variables
	- var bodyClass = 'is-home';
	- var p = true;

block content
	include ./../common/_slider.pug
	section.popular-models
		h1.title Популярные модели
		include ./../common/_popular-models.pug
		include ./../common/_ticker.pug