.breadcrumbs
	padding: 17px 0
	display: flex
	flex-wrap: wrap
	@include w1023
		padding: 10px 0
	@include w767
		font-size: 0.8333rem
	@media all and (max-width: 460px)
		padding-top: 5px
	&__link
		margin-right: 20px
		position: relative
		line-height: 1.6
		&:hover
			text-decoration: underline
		&:last-child
			margin-right: 0
			color: $breadcrumbs-grey
			&:after
				content: none
		&:after
			content: '/'
			position: absolute
			top: 0
			right: -12px
			font-weight: bold
			display: block