.description
	max-width: 1124px
	margin-bottom: 5.556rem
	& h1.title
		margin-bottom: 2.778rem
	& p
		line-height: 1.4
		font-family: Helvetica-Light, serif
	& > ul > li
		line-height: 2.22
		position: relative
		padding-left: 25px
		&:before
			position: absolute
			content: '–'
			display: block
			top: 0
			left: 4px
	& strong
		text-transform: uppercase
	& b
		line-height: 1.6

.department
	& p
		line-height: 2.22