.description
   max-width: 1124px
   margin-bottom: 2.778rem
   & p
      line-height: 1.33
      font-family: Helvetica-Light, serif
   & > ul > li
      line-height: 2.22
      position: relative
      padding-left: 25px
      &:before
         position: absolute
         content: '–'
         display: block
         top: 0
         left: 4px

.department
   & p
      line-height: 2.22