.nav
	background-color: $main
	color: $white
	font-size: 0.8333rem
	&__list
		display: flex
		justify-content: space-between
	&__item
		height: 50px
		display: flex
		align-items: center
		&-link
			&:hover
				text-decoration: underline