.nav
	background-color: $main
	color: $white
	font-size: 0.8333rem
	&__list
		display: flex
		justify-content: space-between
	&__item
		height: 50px
		margin-left: 20px
		display: flex
		align-items: center
		&.-hidden
			display: none
		&.-visible
			visibility: hidden
		&:first-child
			margin-left: 0
		&:last-child
			position: relative
			&:hover
				& > .nav-remainder
					display: block
		&-link
			white-space: nowrap
			&:hover
				text-decoration: underline
	&-remainder
		position: absolute
		max-width: 318px
		width: max-content
		top: 100%
		background-color: $main
		z-index: 100000000000
		right: -9px
		display: none
		@media all and (max-width: 320px)
			width: 100vw
		&__item
			border-top: 1px solid white
			padding: 15px
			line-height: 1.3
			&.-hidden
				display: none