.cart
	& h1.title
		margin-top: 0.5556rem
		margin-bottom: 2.222rem
	&__grid
		display: flex
		@include w1023
			flex-direction: column
			align-items: center
		&-overview
			max-width: 550px
			width: 100%
			padding: 20px 20px 25px
			display: flex
			flex-wrap: wrap
			align-items: flex-start
			@media all and (max-width: 1169px)
				max-width: 450px
		&-data
			max-width: 580px
			width: 100%
	&__photo
		max-width: 90%
		max-height: 90%
		width: auto
		margin: auto
		&-box
			max-width: 390px
			height: 325px
			width: 100%
			display: flex
			margin-right: 19px
			@include w1023
				margin-right: 0
	&__preview
		width: auto
		margin: auto
		&-list
			@media all and (max-width: 1169px)
				display: flex
				flex-wrap: wrap
				max-width: 400px
		&-item
			cursor: pointer
			width: 100px
			height: 100px
			margin-bottom: 10px
			padding: 1px
			border: 1px solid $grey
			display: flex
	&__feature
		font-size: 1.111rem
		margin-top: 2.222rem
		margin-bottom: 3.333rem
		@media all and (max-width: 1069px)
			font-size: 1rem
		&-row
			display: flex
			&:nth-child(2n - 1)
				background-color: #f6f6f6
		&-col
			max-width: 50%
			width: 100%
			padding: 0.775em 1em