.thank
	padding: 30px 0 0
	max-width: 1006px
	margin: 0 auto
	& > *
		margin-bottom: 2.222rem
		@media all and (max-width: 459px)
			margin-bottom: 1.111rem
	& > h1.title
		text-align: center
		@media all and (max-width: 459px)
			font-size: 24px
	& p
		line-height: 1.5
		font-size: 1.111rem
		@media all and (max-width: 459px)
			font-size: 1rem
	&-contact
		@media all and (max-width: 459px)
			font-size: 16px
		& h2
			font-size: 1.556em
		&__row:last-child
			& > .thank-contact__cell
				padding-bottom: 0
		&__cell
			padding-bottom: 1.667rem
			&:first-child
				padding-right: 18px

.back-to-site
	margin: 4.444rem auto 0
	background-color: $yellow
	display: block
	padding: 0.8889rem 1.444rem
	width: max-content
	border-radius: 3px
	@media all and (max-width: 459px)
		margin-top: 2.222rem