.ticker
   &__wrapper
      display: flex
      width: 100%
      overflow: hidden
   &__brand
      width: 145px
      height: 145px
      display: flex
      &-img
         max-width: 100px
         height: auto
         max-height: 100px
         width: auto
         margin: auto