.catalog
	flex: 1
	&-description
		margin-bottom: 5.556rem
		@include w768
			margin-bottom: 2.778rem
		@media all and (max-width: 460px)
			font-size: 16px

.listing
	display: flex
	@include w1023
		flex-wrap: wrap
	&__grid
		&-aside
			max-width: 260px
			min-width: 260px
			margin-right: 28px
			@include w1100
				margin-right: 15px
			@include w1023
				margin-right: 0
				max-width: 100%
				width: 100%
		&-main
			max-width: 870px
			width: 100%
			@include w1023
				max-width: 100%
			&.-full
				max-width: 100%
				& .product
					max-width: 25%
					@media all and (max-width: 907px)
						max-width: calc(100% / 3)
					@media all and (max-width: 685px)
						max-width: 290px
					@media all and (max-width: 539px)
						margin-bottom: 20px

	&__controls
		justify-content: flex-end
		display: flex
		@include w1023
			justify-content: flex-start
			margin-left: auto
			margin-right: auto
		@media all and (max-width: 685px)
			justify-content: space-between
		@media all and (max-width: 599px)
			flex-direction: column
		& > .control-sort:last-child
			margin-left: 110px
			@media all and (max-width: 685px)
				margin-left: 0
	&-filter
		border-radius: 5px
		border: solid 1px $grey
		margin-bottom: 3.889rem
		@include w1023
			display: none
		@media all and (max-width: 420px)
			margin-bottom: 2.222rem
		&.-show
			display: block
		&__control
			display: none
			height: 2.5em
			font-size: 1rem
			padding: 0 1em
			min-width: 200px
			text-transform: uppercase
			color: $white
			background-color: $main
			border-radius: 5px
			margin-bottom: 20px
			@include w1023
				display: block
		&__item
			border-bottom: solid 1px $grey
			&:last-child
				border-bottom: none
				padding: 10px 0
				@media all and (min-width: 460px) and (max-width: 1023px)
					display: flex
					align-items: center
					& > *
						margin-bottom: 0
			&-header
				cursor: pointer
				padding: 1.111rem 0.5556rem 1.111rem 1.667rem
			&-content
				display: none
				font-size: 0.7778rem
				padding: 0 0.5556rem 1.111rem 1.667rem
			&.-open
				& > .listing-filter__item-content
					display: block
				& > .listing-filter__item-header
					padding-bottom: 0
				& .listing-filter__item-title
					&:before
						top: -1px
						left: -15px
						transform: rotate(90deg)
			&-title
				position: relative
				&:before
					content: "›"
					display: block
					position: absolute
					font-size: 1.222rem
					left: -20px
					top: 0
					transform: translate(0%,-20%)
			&-reset
				cursor: pointer
				margin-top: 0.5556rem
				color: $grey-filter
				text-decoration: underline
				display: inline-block
				&:hover
					color: $black
			& > button
				font-size: 0.9444rem
				width: 10.588em
				padding: 0.588em
				border-radius: 5px
				margin-bottom: 10px
				margin-left: auto
				margin-right: auto
				&:last-child
					margin-bottom: 0
		&__price
			display: flex
			margin-top: 1.111rem
		&__check
			&-list
				margin-top: 1.111rem
				&.-multi
					display: flex
					flex-wrap: wrap
					& > .checkbox-label
						max-width: 50%
						width: 100%
	&__generated-container
		display: flex
		flex-wrap: wrap
		margin-bottom: 3.889rem
		max-width: 100%
		padding-left: 2px
		@media all and (max-width: 481px)
			padding-left: 0
		@include w1023
			margin-left: auto
			margin-right: auto
		@media all and (max-width: 685px)
			justify-content: center
		@media all and (max-width: 464px)
			max-width: 310px
			border: none
		& > .product
			flex: 1
			min-width: 222px
			max-width: calc(100%/3)
			&:nth-child(3n - 1),
			&:nth-child(3n)
				margin-left: -1px
			&:nth-child(n + 4)
				margin-top: -1px
			@include w1159
				padding: 10px 15px 15px
				font-size: 17px
			@media all and (min-width: 925px) and (max-width: 1024px)
				max-width: 25%
				&:nth-child(3n - 1),
				&:nth-child(3n)
					margin-left: 0
				&:nth-child(n + 4)
					margin-top: 0
				&:nth-child(4n),
				&:nth-child(4n - 1),
				&:nth-child(4n - 2)
					margin-left: -1px
				&:nth-child(n + 5)
					margin-top: -1px
			@media all and (max-width: 702px)
				max-width: 50%
				margin-left: 0
				margin-top: 0
				&:nth-child(n + 2)
					margin-left: 0
					margin-top: -1px
				&:nth-child(2n)
					margin-left: -1px
				&:nth-child(2)
					margin-top: 0
			@media all and (max-width: 481px)
				max-width: 300px
				margin-bottom: 20px
			@media all and (max-width: 464px)
				max-width: 290px
				margin-bottom: 20px
				border: 1px solid $grey

.form
	&-control
		display: flex
		align-items: center
		margin-right: 15px
		&:last-child
			margin-right: 0
		&__input
			width: 3.889rem
			height: 1.778rem
			text-align: center
			border-radius: 3px
			border: solid 1px $grey
			margin-left: 10px
	&-submit
		background-color: $yellow
		&:hover
			background-color: #FFAC00
	&-clear
		border: 1px solid $black
		color: $grey-filter
		&:hover
			text-decoration: underline

.checkbox
	margin: 0 10px 0 0
	float: left
	width: 0.8333rem
	height: 0.8333rem
	&-label
		display: block
		margin-bottom: 0.8333rem
		max-width: max-content
		cursor: pointer
		&:last-child
			margin-bottom: 0
	&-text
		vertical-align: middle
		&:hover
			text-decoration: underline