block footer
	footer.footer
		.container
			.footer-content__main
				a(href="/").logo__link
					img(src="./assets/img/pyatka/logo.svg", alt="logotype").logo
				.footer-menu
					.footer-menu__col
						ul.footer-menu__list
							li.footer-menu__item
								a(href="#") Наши магазины
							li.footer-menu__item
								a(href="#") О компании
					.footer-menu__col
						ul.footer-menu__list
							li.footer-menu__item
								a(href="#") Купить оптом
							li.footer-menu__item
								a(href="#") Для покупателей
					.footer-menu__col
						ul.footer-menu__list
							li.footer-menu__item
								p Пишите нам:
							li.footer-menu__item
								p midisa-yug@yandex.ru
			.footer-content__bottom
				p Copyright © 2017
				p Соглашение об обработке перснональных данных
				a(href="#") Сделано в 
					span ЛИДМАРКЕТ